In [69]:
import datetime
import pandas as pd
import requests

In [3]:
pv_token = 'e6370b7522074b7d807e7e42d017878d'

In [5]:
def get_sentiment(text):
    query = "%20".join(text.split())
    sentiment_url = "https://api.dandelion.eu/datatxt/sent/v1/?lang=en&text={}&token={}".format(query, pv_token)
    res = requests.get(sentiment_url)
    return(res)

In [52]:
cleaned_tweets_df = pd.read_csv('cleaned_tweets')
cleaned_tweets = cleaned_tweets_df['clean_text']

In [59]:
sentiments3 = []
idx3 = []
#for i in range(100, len(cleaned_tweets)):
for i in set(range(len(cleaned_tweets))) - set(idx+idx2):
    t = cleaned_tweets[i]

    try:
        sentiments3.append(get_sentiment(t))
        idx3.append(i)
    except:
        print(t)
        print(i)

nan
7168
nan
1026
nan
5124
nan
517
nan
518
nan
6664
nan
6665
nan
6666
nan
2059
nan
1548
nan
5645
nan
1557
nan
8213
nan
5148
nan
5149
nan
3102
nan
4639
nan
6824
nan
2595
nan
6693
nan
3110
nan
2599
nan
2607
nan
1584
nan
2608
nan
1074
nan
7215
nan
1588
nan
1589
nan
3128
nan
6712
nan
6713
nan
1083
nan
7339
nan
3646
nan
5695
nan
3136
nan
8258
nan
1091
nan
1092
nan
1093
nan
1096
nan
1097
nan
1098
nan
76
nan
77
nan
591
nan
592
nan
5714
nan
8790
nan
2649
nan
3162
nan
7260
nan
7854
nan
3682
nan
611
nan
1637
nan
3686
nan
6760
nan
2665
nan
106
nan
2667
nan
3177
nan
5738
nan
5740
nan
7273
nan
7274
nan
7275
nan
7282
nan
115
nan
5236
nan
4725
nan
7283
nan
2167
nan
2168
nan
7285
nan
7286
nan
6780
nan
1153
nan
1154
nan
2692
nan
2182
nan
6791
nan
650
nan
651
nan
4235
nan
6796
nan
7308
nan
1169
nan
1170
nan
3729
nan
1172
nan
5268
nan
5269
nan
1175
nan
668
nan
1694
nan
7326
nan
6817
nan
7330
nan
4771
nan
4772
nan
5284
nan
3238
nan
1191
nan
3239
nan
1193
nan
5285
nan
5287
nan
172
nan
2733
nan
3244
nan
4780
nan
4781
nan
3249
nan
4786
nan
5299
nan
5300
nan
4789
nan
4790
nan
6650
nan
6838
nan
6839
nan
1210
nan
189
nan
3773
nan
3263
nan
6849
nan
1220
nan
1224
nan
712
nan
4809
nan
4810
nan
1228
nan
5321
nan
1238
nan
4825
nan
4826
nan
6873
nan
4828
nan
6875
nan
1249
nan
1250
nan
1252
nan
1254
nan
1255
nan
4840
nan
6886
nan
4842
nan
2795
nan
7404
nan
6896
nan
6385
nan
754
nan
755
nan
4855
nan
3323
nan
4861
nan
4862
nan
5373
nan
6910
nan
4865
nan
4868
nan
1285
nan
1286
nan
265
nan
778
nan
267
nan
779
nan
269
nan
780
nan
3343
nan
793
nan
5403
nan
284
nan
285
nan
1820
nan
4897
nan
4899
nan
292
nan
804
nan
806
nan
1831
nan
2342
nan
297
nan
1840
nan
305
nan
1329
nan
4922
nan
4924
nan
4926
nan
4927
nan
833
nan
4929
nan
843
nan
4940
nan
849
nan
5462
nan
4957
nan
1892
nan
357
nan
7014
nan
359
nan
8038
nan
1898
nan
876
nan
6508
nan
6518
nan
7033
nan
3962
nan
2429
nan
4479
nan
3456
nan
3457
nan
2434
nan
3968
nan
2436
nan
3464
nan
3465
nan
4489
nan
4492
nan
403
nan
2965
nan
2966
nan
5536
nan
418
nan
2466
nan
4520
nan
5032
nan
5547
nan
941
nan
7600
nan
435
nan
6580
nan
6581
nan
6582
nan
6583
nan
5561
nan
958
nan
1472
nan
961
nan
1476
nan
5573
nan
3528
nan
3529
nan
8142
nan
466
nan
469
nan
470
nan
471
nan
983
nan
985
nan
2528
nan
999
nan
1000
nan
2535
nan
1002
nan
3563
nan
3054
nan
6640
nan
5618
nan
8691
nan
2552
nan
2554
nan
6142

In [70]:
# needed to break up into chunks because of some concurrency problems
sentiment_all = sentiments + sentiments2 + sentiments3

def get_score(s):
    d = s.json().get('sentiment') 
    if isinstance(d, dict):
        return(d['score'])
    else:
        return(None)
sentiment_all_score = [get_score(s) for s in sentiment_all]
idx_all = idx + idx2 + idx3

sentiment_df = pd.DataFrame({'sentiment': sentiment_all_score},
                            index=idx_all)

sentiment_df_date = pd.concat([sentiment_df, cleaned_tweets_df], axis=1)
sentiment_df_date['Date'] = sentiment_df_date.apply(lambda x: datetime.date(int(x.year), int(x.month), int(x.day)), axis=1)
sentiment_df_date = sentiment_df_date[['Date', 'sentiment']]
sentiment_df_date.to_csv('data/sentiment.csv')

In [71]:
sentiment_df_date

             Date  sentiment
0      2019-10-30   0.000000
1      2019-10-30  -0.600000
2      2019-10-30   0.700000
3      2019-10-30  -0.700000
4      2019-10-30   0.000000
5      2019-10-30  -0.700000
6      2019-10-30  -0.700000
7      2019-10-30  -0.700000
8      2019-10-30  -0.700000
9      2019-10-30  -0.850000
10     2019-10-30   0.700000
11     2019-10-29  -0.800000
12     2019-10-29   0.600000
13     2019-10-29  -0.800000
14     2019-10-29   0.725000
15     2019-10-29  -0.557143
16     2019-10-29  -0.900000
17     2019-10-29        NaN
18     2019-10-29  -0.480000
19     2019-10-29   0.000000
20     2019-10-29  -0.700000
21     2019-10-29   0.800000
22     2019-10-29  -0.580000
23     2019-10-29  -0.900000
24     2019-10-29  -0.700000
25     2019-10-29  -0.700000
26     2019-10-29   0.800000
27     2019-10-29  -0.800000
28     2019-10-29   0.000000
29     2019-10-29   0.700000
...           ...        ...
11764  2017-01-25   0.800000
11765  2017-01-25  -0.550000
11766  2017-01-25  -0.700000
11767  2017-01-25   0.700000
11768  2017-01-25        NaN
11769  2017-01-25   0.633333
11770  2017-01-25   0.800000
11771  2017-01-24   0.000000
11772  2017-01-24   0.750000
11773  2017-01-24   0.800000
11774  2017-01-24  -0.500000
11775  2017-01-23   0.700000
11776  2017-01-22  -0.700000
11777  2017-01-22   0.850000
11778  2017-01-22  -0.766667
11779  2017-01-22   0.800000
11780  2017-01-21  -0.750000
11781  2017-01-21   0.800000
11782  2017-01-21   0.766667
11783  2017-01-20   0.000000
11784  2017-01-20   0.000000
11785  2017-01-20   0.000000
11786  2017-01-20   0.000000
11787  2017-01-20   0.700000
11788  2017-01-20   0.000000
11789  2017-01-20   0.000000
11790  2017-01-20   0.700000
11791  2017-01-20   0.000000
11792  2017-01-20   0.000000
11793  2017-01-20   0.700000

[11794 rows x 2 columns]